@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import 'remixicon/fonts/remixicon.css';

@tailwind utilities;
@font-face {
  font-family: 'inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
       url('/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'inter1';
  src: url('../assets/file\ \(4\).woff2');
  
}
@font-face {
  font-family: 'inter2';
  src: url('../assets/file\ \(6\).woff2');
       

}
body {
  min-height: 100vh;
}

/* Add this if not already present */
html {
  scroll-behavior: smooth;
}
